POSTGRES_USER=x5
POSTGRES_PASSWORD=CHANGE_DB_PASSWORD
POSTGRES_DB=x5_map
APP_PORT=3000
APP_URL=http://SERVER_ADDRESS:3000
COOKIE_SECURE=false
ALLOW_REGISTRATION=true
SEED_PASSWORD=CHANGE_SEED_PASSWORD
